.about.container
  .container-ins 
    .about__wrap 
      .about__item
        h2.title.fade-in Byte clouds — 
      .about__item
        .text.fade-in ByteClouds - более 10 лет опыта! Мы занимаемся разработкой мобильных приложений, систем направленных на автоматизацию бизнес процессов, различных веб сервисов для решения бизнес задач. В работе используем прозрачные процессы, что дает 
          | возможность клиенту контролировать весь ход работ.
      .about__item
        .about__img.border-radius.fade-in
          img(src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw==" data-src="assets/img/about.jpg", alt="").lazy