.contacts.bore-radius.fade-in
  .container-ins 
    .contacts__wrap
      .contacts__col
        .h2.title.title--white Наши контакты
        p.whiteP Мы находимся по адресу:
        p.grayP Токтогула 125/1, БЦ Авангард, Tower A, <br> 8 этаж, г. Бишкек, Кыргызстан
        br
        p.whiteP Наши контактные данные:
        .contacts__block     
          ul
            li 
              a(href="tel:+996555600468") +996 555 600 468
            li
              a(href="tel:+996555967021") +996 555 967 021 
            li
              a(href="mailto:sales@byteclouds.tech") sales@byteclouds.tech 
          p.grayP Будние дни <br> (с 9:00 до 18:00 МСК)
        br
        a(href="#order").btn.btn--white-solid.order-js Заказать сайт
         

      .contacts__col
        #map.border-radius
        a(href="#order").btn.btn--white-solid.order-js Заказать разработку 
