.form.border-radius.container#order.fade-in
  .container-ins 
    .title.title--white Заказать лендинг:

    .tab
      ul.tabs.tags.tags--white 
        li
          a(href='#').tag Заказать обратный звонок
        li
          a(href='#').tag Написать нам
        li
          a(href='#').tag Позвонить нам
      .tab_content
        .tabs_item 
          form(action="") 
            .input-wrap
              input(type="text" placeholder="Имя")  
            .input-wrap  
              input(type="text" placeholder="Номер телефона")  
            .form__control-btn
              .btn.btn--white-solid Свяжитесь со мной немедленно!  
        .tabs_item
          .contacts
            p.whiteP Мы находимся по адресу:
            p.grayP Токтогула 125/1, БЦ Авангард, Tower A, <br> 8 этаж, г. Бишкек, Кыргызстан
            .contacts__block     
              ul
                li 
                  a(href="tel:+996555600468") +996 555 600 468
                li
                  a(href="tel:+996555967021") +996 555 967 021 
                li
                  a(href="mailto:sales@byteclouds.tech") sales@byteclouds.tech 
              p.grayP Будние дни <br> (с 9:00 до 18:00 МСК)
            .btn-wrap
              a(href="#").btn.btn--white-solid
                svg(width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_37_156)')
                    path(d='M13 0C9.55297 0 6.24406 1.37048 3.80859 3.80758C1.37061 6.24564 0.000675329 9.55212 0 13C0 16.4464 1.37109 19.7553 3.80859 22.1924C6.24406 24.6295 9.55297 26 13 26C16.447 26 19.7559 24.6295 22.1914 22.1924C24.6289 19.7553 26 16.4464 26 13C26 9.55358 24.6289 6.24467 22.1914 3.80758C19.7559 1.37048 16.447 0 13 0Z' fill='url(#paint0_linear_37_156)')
                    path(d='M5.88453 12.8627C9.67484 11.2117 12.2017 10.1231 13.4652 9.59725C17.0767 8.09555 17.8262 7.83473 18.3158 7.8259C18.4234 7.82417 18.6631 7.85078 18.8195 7.97723C18.9495 8.08387 18.9861 8.22809 19.0044 8.32934C19.0206 8.4305 19.043 8.66105 19.0247 8.84102C18.8297 10.8966 17.9827 15.885 17.552 18.1874C17.3712 19.1616 17.0117 19.4882 16.6644 19.5201C15.9087 19.5896 15.3359 19.0212 14.6047 18.5421C13.4611 17.7919 12.8152 17.3251 11.7041 16.5933C10.4203 15.7475 11.2531 15.2825 11.9844 14.5228C12.1753 14.324 15.5025 11.2984 15.5655 11.024C15.5736 10.9897 15.5817 10.8617 15.5045 10.7943C15.4294 10.7266 15.3177 10.7498 15.2364 10.7681C15.1206 10.7941 13.2945 12.0023 9.75203 14.3924C9.23406 14.7487 8.76484 14.9224 8.34234 14.9132C7.87922 14.9033 6.98547 14.6508 6.32125 14.4351C5.50875 14.1704 4.86078 14.0305 4.91766 13.5809C4.94609 13.3469 5.26906 13.1075 5.88453 12.8627Z' fill='white')
                  defs
                    lineargradient#paint0_linear_37_156(x1='13' y1='0' x2='13' y2='26' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#2AABEE')
                      stop(offset='1' stop-color='#229ED9')
                    clippath#clip0_37_156
                      rect(width='26' height='26' fill='white')
                | Прислать ТЗ     
              a(href="#").btn.btn--white-solid
                svg(width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_37_161)')
                    path(d='M0.554835 12.8444C0.554226 15.0289 1.12948 17.1619 2.2233 19.042L0.450226 25.4656L7.07535 23.7419C8.90777 24.7318 10.9609 25.2504 13.0472 25.2505H13.0527C19.9402 25.2505 25.5467 19.6895 25.5497 12.8542C25.551 9.542 24.2522 6.42744 21.8925 4.08422C19.5332 1.74119 16.3954 0.450162 13.0522 0.44865C6.16393 0.44865 0.557781 6.00943 0.554937 12.8444' fill='url(#paint0_linear_37_161)')
                    path(d='M0.108672 12.8404C0.107961 15.1035 0.703828 17.3128 1.83666 19.2602L0 25.914L6.86268 24.1286C8.75357 25.1516 10.8825 25.6909 13.0489 25.6917H13.0544C20.189 25.6917 25.997 19.9306 26 12.8507C26.0012 9.41946 24.6557 6.19294 22.2117 3.76577C19.7674 1.3389 16.5174 0.00141085 13.0544 0C5.91866 0 0.111516 5.76031 0.108672 12.8404ZM4.19555 18.9248L3.9393 18.5212C2.86213 16.8217 2.29359 14.8578 2.2944 12.8412C2.29673 6.95641 7.12339 2.16868 13.0585 2.16868C15.9327 2.16989 18.6339 3.28164 20.6655 5.29876C22.6971 7.31608 23.815 9.99771 23.8143 12.8498C23.8116 18.7346 18.9849 23.5229 13.0544 23.5229H13.0502C11.1192 23.5219 9.22533 23.0074 7.57372 22.035L7.18067 21.8037L3.10822 22.8632L4.19555 18.9247V18.9248Z' fill='url(#paint1_linear_37_161)')
                    path(d='M9.81886 7.47228C9.57653 6.93787 9.32151 6.92708 9.09107 6.91771C8.90236 6.90965 8.68664 6.91025 8.47113 6.91025C8.25541 6.91025 7.90492 6.99077 7.60866 7.31174C7.3121 7.63301 6.47644 8.40939 6.47644 9.98843C6.47644 11.5676 7.63557 13.0936 7.79716 13.308C7.95895 13.5219 10.0349 16.866 13.3227 18.1525C16.0551 19.2217 16.6112 19.009 17.2042 18.9554C17.7973 18.902 19.118 18.1792 19.3875 17.4298C19.6571 16.6804 19.6571 16.0381 19.5763 15.9038C19.4954 15.7701 19.2797 15.6898 18.9562 15.5294C18.6327 15.3688 17.0424 14.5923 16.7459 14.4852C16.4494 14.3782 16.2338 14.3248 16.018 14.6462C15.8023 14.967 15.1829 15.6898 14.9941 15.9038C14.8055 16.1184 14.6167 16.1451 14.2933 15.9846C13.9696 15.8235 12.9279 15.485 11.692 14.3917C10.7304 13.541 10.0812 12.4904 9.89249 12.169C9.70379 11.8481 9.87228 11.6742 10.0345 11.5143C10.1798 11.3705 10.3581 11.1395 10.5199 10.9521C10.6812 10.7647 10.7351 10.631 10.8429 10.4169C10.9509 10.2027 10.8968 10.0152 10.8161 9.8547C10.7351 9.69417 10.1065 8.10686 9.81886 7.47228Z' fill='white')
                  defs
                    lineargradient#paint0_linear_37_161(x1='12.9999' y1='25.4656' x2='12.9999' y2='0.44865' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#1FAF38')
                      stop(offset='1' stop-color='#60D669')
                    lineargradient#paint1_linear_37_161(x1='13' y1='25.914' x2='13' y2='0' gradientUnits='userSpaceOnUse')
                      stop(stop-color='#EEEEEE')
                      stop(offset='1' stop-color='white')
                    clippath#clip0_37_161
                      rect(width='26' height='26' fill='white')
                | Прислать ТЗ    

          
        .tabs_item
          .contacts
            p.whiteP Мы находимся по адресу:
            p.grayP Токтогула 125/1, БЦ Авангард, Tower A, <br> 8 этаж, г. Бишкек, Кыргызстан
            .contacts__block     
              ul
                li 
                  a(href="tel:+996555600468") +996 555 600 468
                li
                  a(href="tel:+996555967021") +996 555 967 021 
                li
                  a(href="mailto:sales@byteclouds.tech") sales@byteclouds.tech 
              p.grayP Будние дни <br> (с 9:00 до 18:00 МСК)
            .btn-wrap
              a(href="tel:+996555600468").btn.btn--white-solid
                | позвонить  
                span  +996 555 600 468     
              

          

