.container 
  .hero.bg-gray
    .container-ins 
      h1.hero__title.anim-items.anim-nohide
        span
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Слой_1' x='0px' y='0px' viewBox='0 0 193.9 106.3' style='enable-background:new 0 0 193.9 106.3;' xml:space='preserve')
            path.st0(d='M143.7,39.9c0,0-23.8-57.8-110.9-25.7C25.2,17,13.6,24.6,9.5,31.6C4.2,40.8,1.8,54.5,16,71.4  c8.1,9.6,18.8,16.7,30.8,20.6c18.4,6.2,53,15,100.9,5.5c0.8-0.2,1.6-0.3,2.4-0.5c5.9-1,41.8-8.3,38.3-38.1c0,0-7.1-49.4-79.1-22.9')
          |Byte 
        |Clouds 
      .hero__wrap
        h2.hero__subtitle.anim-items.anim-nohide Сделаем одностраничный сайт о <br> ваших услугах или продукте. <br>   
          span Без головной боли и нервов! <br> Под ключ! 
      .hero__img
        img(src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw==" data-src="assets/img/hero.svg", alt="").lazy
      .order-js.anim-items.anim-nohide 
        a(href="#order").btn Заказать разработку 

      