.container 
  .hero.bg-gray
    .container-ins 
      h1.hero__title 
        span
          img(src="assets/img/title.svg", alt="")
          |Byte 
        |Clouds 
      .hero__wrap
        h2.hero__subtitle Ускоряем и <br> автоматизируем рутинные <br> бизнес процессы!
      a(href="#order").btn.order-js Заказать разработку 
      .hero__img
        img(src="assets/img/hero.svg", alt="")

