.container
  .landing.bg-gray.fade-in
      .container-ins
        h2.title Каким будет Ваш лендинг сайт и чем он Вам поможет?
        p.text Ваш лендинг будет выполнять главную задачу: мотивировать клиента сделать целевое действие: купить, оформить подписку, заказать услугу итд., Чтобы внимание пользователя не рассеивалось, на посадочной странице присутствуют только необходимые элементы: Услуги, О компании, Примеры работ, Контакты, . По неообходимости разрабатываем дополнительные блоки под ваши нужды.
  
        .landing__wrap
          mixin landing(title,desc,img)  
            .landing__item.border-radius.border 
              .landing__item-title=title
              .landing__item-img
                img(src="assets/img/landing"+img+".webp", alt="")
              .landing__item-desc=desc
          +landing('Простая навигация','Лендинг – это страница, которую нужно скроллить. Посетитель, листая, получает новую порцию аргументов и проходит через всю воронку продаж. При этом, он может совершить целевое действие на любом этапе скроллинга',1)    
          +landing('Быстрый результат','Лендинг создается, прежде всего, с целью получить максимально быстрый результат. На посадочной странице, в отличие от сайта, гораздо проще провести A/B тест и выбрать лучший дизайн.',2)
          +landing('Сбор лидов','На странице нет отвлекающей информации. Все изложено только по сути и аргументированно. Если хорошо знать свою целевую аудиторию, предложение будет сделано так, что вероятность отказа будет минимальна',3)
