.process.container
  .container-ins 
    h2.title.fade-in Как выглядит процесс и сколько вашего времени мы потратим
    .process__wrap
      mixin process(title,desc)
        .process__item.fade-in  
          .process__title=title
          p!=desc
      +process('Анализ требований','Зададим несколько вопросов в чате, чтобы нам <br> соориентироваться - <b>20 минут</b>')  
      +process('Документация','Зададим несколько вопросов в чате, чтобы нам <br> соориентироваться - <b>20 минут</b>')  
      +process('Создание дизайна','Нарисуме уникальный дизайн и пришлем вам на утверждение - <br> <b>30 минут</b>')  
      +process('Программирование и верстка','Один из ключевых этапов разработки сайта, во время которого <br> тестируется и настраивается его техническая часть. ')  
      +process('Перенос на хостинг','После того как завершены все этапы разработки сайта, когда <br> все работает корректно, можно выкладывать проект в онлайн.')  
      +process('Обслуживание и поддержка','Разработка сайтов под ключ не включает этот пункт, но любая <br> компания-подрядчик готова предоставить подобную услугу.')  