.process
  .container-ins 
    h2.title Как устроен процесс разработки
    .process__wrap
      .process__item  
        .process__item-col  
          .process__title Анализ требований
        .process__item-col
          p Все начинается с построения прочного фундамента - через определение. <br>
            |требований к продукту. Это самая важная часть при разработке любого прикладного ПО.

        .process__item-col  
          p Результатом сбора требований является понимание конечного ПО:
          ul 
            li Характеристики и ограничения
            li Потребности и ожидания
            li Спецификация
      
      .process__item  
        .process__item-col  
          .process__title Проектирование
        .process__item-col
          p Цель проектирования - определение внутренних свойств системы и детализации внешних (видимых) свойств на основе предыдущего шага - анализа.

        .process__item-col  
          p Результат проектирования:
          ul 
            li Модель ПО: компоненты и связи между узлами системы                                              
            li Зависимости и принципы взаимодействия
            li Прототипы ПО для утверждения заказчиком
      
      .process__item  
        .process__item-col  
          .process__title Кодирование системы
        .process__item-col
          p На данном этапе происходит волшебство - программисты строками кода систему жизнью! Из описания и прототипов вырастает и оживает система, подвижной и начинает выполнять свои функции.

        .process__item-col  
          p Результатом работы прогрммистов является:
          ul 
            li Тестирование системы                                           
            li Деплой системы
      
      .process__item  
        .process__item-col  
          .process__title Приёмка и внедрение
        .process__item-col
          p Это заключительный этап в разработке. Клиенту предоставляется окружение, где можно поиграть и поработать с системой.

        .process__item-col  
          p После проверки клиентом и подтверждения работоспособности системы, внедрение ПО на предприятии клиента. Обучение и консультация сотрудников.

      .process__item  
        .process__item-col  
          .process__title Сопровождение ПО
        .process__item-col
          p После внедрения программного комплекса, при необходимости расширения
            | функционала, клиент может воспользоваться технической поддержкой. Техническая поддержка - непрервывное улучшение программного комплекса, продиктованное условиями бизнеса.

        .process__item-col  
          p Услуги тех поддержки:
          ul 
            li Расширение функционала                                         
            li Разработка новых модулей
            li Мониторинг обслуживания системы

