.textimg.fade-in
  .container-ins
    .textimg__wrap
      .textimg__col
        h2.title Адаптивный дизайн
        p.text  Адаптивный дизайн сайта — это принцип создания элементов дизайна, которые автоматически подстраиваются под разрешение и размеры экрана. Благодаря такому дизайну ваш сайт будет хорошо выглядеть как на экране телевизора, так и с ноутбука или смартфона. Благодаря адаптации к расширению на разных экранах, содержимое сайта не теряет свой внешний вид и необходимые функции.
      .textimg__col
        .textimg__img
          img(src="assets/img/textimg.webp", alt="")