footer.footer
  .container-ins 
    .footer__top 
      .footer__col.footer__logo 
        a(href="#")
          img(src="data:image/gif;base64,R0lGODlhBwAFAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAUAAAIFjI+puwUAOw==" data-src="assets/img/logo-footer.svg", alt="").lazy
          span It’s outsource 

      .footer__col.footer__contacts 
        ul 
          li 
            a(href="tel:+996555600468") +996 555 600 468
          li 
            a(href="tel:+996 555 967 021") +996 555 967 021
          li 
            a(href="mailto:ales@byteclouds.tech") ales@byteclouds.tech
      .footer__col.footer__social 
        ul 
          li 
            a(href="#").border Instagram  
          li 
            a(href="#").border WhatsApp  
          li 
            a(href="#").border Twitter  
    .footer__bottom 
      p  Мы гарантируем соблюдение сроков и не разглашение информации о вашем продукте (NDA). Работаем всегда по договору!
      p  Copyright © 2010 - 2022 ByteClouds
