.landing {
  padding: rem(60) 0;
  margin: rem(60) auto;
  @include lg {
    padding: rem(50) 0;
    margin: rem(50) auto;
  }

  @include md {
    padding: rem(40) 0;
    margin: rem(40) auto;
  }

  @include sm {
    padding: rem(30) 0;
    margin: rem(30) auto;
  }

  @include xs {
    padding: rem(20) 0;
    margin: rem(20) auto;
    background-color: transparent;
  }

  .container-ins {
    @include xs {
      width: calc(100% -30px);
    }
  }

  &__wrap {
    @include jfcsb;

    @include md {
      flex-direction: column;
    }
  }
  &__item {
    width: calc(33.33% - 20px);
    text-align: center;
    padding: rem(25) rem(20);
    @include lg {
      width: calc(33.33% - 10px);
      padding: rem(15) rem(10);
    }
    @include md {
      width: 100%;
      margin-bottom: rem(25);
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-title {
    font-size: rem(22);
    font-weight: 700;
    line-height: rem(28);
  }
  &__item-desc {
    font-size: rem(18);
    font-weight: 400;
    line-height: rem(25);
    color: #9e9e9e;
    @include xs {
      font-size: rem(16);
      line-height: rem(22);
    }
  }
  &__item-img {
    max-width: rem(250);
    width: 100%;
    margin: rem(20) auto;
  }
}
